<app-header></app-header>
<ion-content color="tertiary">
  <div class="ion-text-right">
    <p><a class="deleteLink" (click)='showPrompt()' id="deleteUser">Supprimer mon compte</a></p>
  </div>
  <ion-text color="dark">
    <h1 class="ion-padding">Bonjour, {{user?.name}} !</h1>
  </ion-text>
  <ion-text color="dark">
    <p class="ion-padding">Nom d'utilisateur : <span style="color:#70747C;">{{user?.name}}</span></p>
  </ion-text>
  <ng-container *ngIf="show">
    <form #newUserNameForm='ngForm' (submit)='updateUserName(newUserNameForm)' class="ion-padding">
      <div>
        <ion-item lines="none" class="roundedInput">
          <ion-label lines="none" class="input" position="floating">Nouveau nom</ion-label>
          <ion-input type='text' [(ngModel)]='nameNew' name='nameNew' required #userNameNewInput='ngModel' text>
          </ion-input>
        </ion-item>
      </div>
      <p color="danger" *ngIf='userNameNewInput.invalid && userNameNewInput.dirty'>
        Le nom d'utilisateur est invalide
      </p>
      <div class="ion-text-center" text-center>
        <ion-button color="primary" full type="submit" [disabled]='newUserNameForm.invalid'>Valider</ion-button>
      </div>
    </form>
  </ng-container>
  <div class="ion-text-center" text-center>
    <ion-button (click)='toggleForm()' id="modifyName" style="font-size: 20px;" color={{buttonColor}} type="submit">
      {{buttonName}}</ion-button>
  </div>
  <hr style="border-top: 1px solid #E0E0E0; margin: 20px;">
  <ion-text color="dark" *ngIf='trips?.length > 0'>
    <p class="ion-padding">Ici, tu peux voir les {{user?.tripsCount}} balades que tu as
      ajoutées, les modifier ou les supprimer.</p>
    <h2 class="ion-padding">Ma dernière balade</h2>
    <app-user-trip [trip]="trips[0]"></app-user-trip>
    <h2 class="ion-padding">Toutes mes balades</h2>
    <app-user-trip [trip]="trip" *ngFor="let trip of trips"></app-user-trip>
  </ion-text>
  <ng-container *ngIf='trips && trips.length === 0'>
    <ion-text color="dark">
      <p class="ion-padding">
        Ici, tu pourras voir les balades que tu auras ajoutées, les modifier ou les supprimer.
        <br><br>
        Tu n'as pas encore créé de balade, n'hésite pas à en ajouter une !
      </p>
    </ion-text>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <ion-button size="large" type="submit" expand="block" [routerLink]="'/create-trip/'"
            routerDirection="forward">Ajouter une balade</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>