<app-header></app-header>
<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h1 class="ion-padding">Te revoilà !</h1>
  </ion-text>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)" class="ion-padding">
    <div>
      <ion-item lines="none" class="roundedInput">
        <ion-label lines="none" class="input" position="floating">Nom d'utilisateur</ion-label>
        <ion-input lines="none" inputmode="text" #username="ngModel" required="true" name="username"
          [(ngModel)]="authRequest.username" minlength="3"
          required #name="ngModel" ></ion-input>
      </ion-item>
      <ion-item lines="none" *ngIf="username.invalid && username.touched">
        <ion-text color="danger">Tu dois renseigner un nom d'utilisateur.</ion-text>
      </ion-item>
      <ion-item lines="none" class="roundedInput">
        <ion-label lines="none" class="input" position="floating">Mot de passe</ion-label>
        <ion-input lines="none" inputmode="text" #password="ngModel" required="true" type="password" name="password"
          [(ngModel)]="authRequest.password" #password="ngModel"></ion-input>

      </ion-item>
      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Tu dois renseigner un mot de passe</ion-text>
      </ion-item>
    </div>
    <div class="ion-padding">
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid">Se connecter</ion-button>
      <ion-text color="danger" *ngIf="loginError">Le nom d'utilisateur ou le mot de passe est faux.</ion-text>
    </div>
  </form>
  <ion-text style="text-align:center;">
    <p text-center>Pas encore de compte ? <a href="" style="font-weight: 600;" [routerLink]="'/register/'"
        routerDirection="forward">S'inscrire</a></p>
  </ion-text>
</ion-content>