/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'Open Sans';
    src: url('../src/assets/fonts/OpenSans-Regular.ttf');
}

ion-toolbar,
ion-header {
  --min-height: 70px;
}

ion-tab-bar {
    margin-bottom: 20px;
    padding-top: 10px;
}

ion-input {
    display: block;
    width: 100%;
    background: transparent;
}

ion-button {
    --border-radius: 25px;
    font-weight: 800;
    font-size: 22px;
    // box-shadow: 0px 5px 10px #FC8C29;
}

ion-card-title {
    font-size: 25px;
}

ion-card-content {
    font-size : 18px;
}

.has-header {
    top: 70px;
    position: absolute;
    width: 100%;
}

.has-tap-bar {
    bottom: 100px;
    position: absolute;
}

body {
    font-family: 'Open Sans';
}

.roundedInput {
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: 0 2px 2px 0 var(--ion-color-medium);
}

h1 {
    font-weight: 800;
    font-size: 30px;
}
