<ion-card (click)="viewTripDetails()">
    <ion-list>
            <ion-item>
              <ion-label>
                <div class="align">
                    <ion-text color="primary">{{trip.createdAt}}</ion-text>
                    <ion-card-title color="dark">{{ trip.title }}</ion-card-title>
            </div>
            <ion-card-content color="dark">
                {{ trip.description }}
            </ion-card-content>
              </ion-label>
              <ion-note detail slot="end" color="primary"> <ion-icon class="arrow-mini"></ion-icon></ion-note>
            </ion-item>
          </ion-list>
</ion-card>

