<ion-card style="padding-top: 10px;" [routerLink]="['/one-trip/', trip.id]">
    <ion-item lines="none">
        <ion-label>
            <ion-text color="primary" style="font-size: 12px;">{{trip.createdAt | date:'longDate':'fr'}}</ion-text>
            <ion-card-title color="dark">{{ trip.title }}</ion-card-title>
            <ion-card-content style="padding-left: 0px; color:dimgray">
                {{ trip.description }}
            </ion-card-content>
        </ion-label>
        <ion-note detail slot="end" color="primary">
            <ion-icon class="arrow-mini"></ion-icon>
        </ion-note>
    </ion-item>
</ion-card>
