<ion-header>
  <ion-toolbar>
    <ion-title>one-trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trip">
<ion-card>
  <ion-label>
            <ion-text line="none" color="primary" style="font-size: 12px;">{{trip?.createdAt | date:'longDate':'fr'}}
            </ion-text>
            <ion-card-title line="none"color="dark">{{ trip?.title }}</ion-card-title>
            <ion-card-content line="none"color="dark">
                {{ trip?.description }}
            </ion-card-content>
        </ion-label>
</ion-card>
</ion-content>
