<!-- Logout button
<ion-buttons slot="end">
  <ion-button (click)="logOut()">
    <ion-icon name="log-out"></ion-icon>
  </ion-button>
</ion-buttons> -->

<ion-content color="tertiary" class="has-header">
  <ion-text color="dark" class="ion-text-center">
    <h1 class="ion-padding">Ajouter une balade</h1>
  </ion-text>
  <form id="form" #form="ngForm" (ngSubmit)="saveTrip()" class="ion-padding">
    <div>
      <ion-item lines="none" class="roundedInput" padding>
        <ion-label class="input" position="floating">Titre</ion-label>
        <ion-input name="title" type="text" [(ngModel)]="createtripRequest.title" required>
        </ion-input>
      </ion-item>
      <ion-item lines="none"class="roundedInput" padding>
        <ion-label lines="none"class="input" position="floating">Description</ion-label>
        <ion-input lines="none"name="desc" type="text" [(ngModel)]="createtripRequest.description" required></ion-input>
      </ion-item>
    </div>
    <div>
      <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" color="primary">Ajouter une balade
      </ion-button>
    </div>
  </form>
</ion-content>