<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <img src="assets/img/logo.png" alt="" style="max-height:35px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h1 class="ion-padding">Créer un compte</h1>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="register()" class="ion-padding">
    <div>
      <ion-item class="roundedInput">
        <ion-label class="input" position="floating">Nom d'utilisateur</ion-label>
        <ion-input name="name" type="text" [(ngModel)]="registerRequest.name" required></ion-input>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-label class="input" position="floating">Mot de passe</ion-label>
        <ion-input name="password" type="password" [(ngModel)]="registerRequest.password" required></ion-input>
      </ion-item>
      <ion-item class="roundedInput">
        <ion-label class="input" position="floating">Confirmation du mot de passe</ion-label>
        <ion-input name="confirm" type="password" ngModel required></ion-input>
      </ion-item>
    </div>
    <div class="ion-padding">
      <ion-button type="submit" [disabled]="form.invalid" expand="block">Créer un compte</ion-button>
    </div>
  </form>
  <ion-text style="text-align:center;">
    <p text-center>Déjà un compte ? <a href="" style="font-weight: 600;" [routerLink]="'/login/'"
        routerDirection="forward">Se connecter</a></p>
  </ion-text>
</ion-content>